<div hx-swap-oob="outerHTML:#content-body" id="content-body" class="mt-3 items-center justify-center rounded-t-lg bg-transparent pb-4">
  {{#each documents}}
    <div class="mb-2 p-4 w-full bg-white opacity-[90%] shadow-short border border-gray-200 rounded">
        <div class="flex justify-between items-center">
            <div class="text-gray-800 break-all">{{url}}</div>
            <div class="space-x-2 flex flex-row">
                <form ws-send hx-disabled-elt="this" class="inline">
                    <input type="hidden" name="cmd" value="edit_document" />
                    <input type="hidden" name="documentId" value="{{id}}" />
                    <button type="submit" class="px-4 py-2 bg-gray-200 rounded hover:bg-gray-300">✎</button>
                </form>
                <form ws-send hx-disabled-elt="this" class="inline">
                    <input type="hidden" name="cmd" value="download_document" />
                    <input type="hidden" name="documentId" value="{{id}}" />
                    <button type="submit" class="px-4 py-2 bg-gray-200 rounded hover:bg-gray-300">↓</button>
                </form>
            </div>
        </div>
    </div>
    {{#if (isEqual a=../currentDocumentId b=id)}}
    <div class="flex w-full flex-col items-center mb-2 justify-center overflow-clip bg-white opacity-[90%] shadow-short border border-gray-200 rounded">
      <form
          ws-send
          class="w-full items-center space-x-2"
          hx-disabled-elt="this"
          >
          <input type="hidden" name="cmd" value="save_document" />
          <input type="hidden" name="documentId" value="{{id}}" />
          <div class="relative flex w-full items-end px-2.5 py-4">
            <div class="relative flex w-full flex-auto flex-col">
              <code>
                <textarea
                    id="content-{{id}}"
                    name="content"
                    rows="20"
                    hx-on:keydown="submitPrompt(event)"
                    required
                    minlength="1"
                    class="outline-none py-2 text-sm w-full mt-2"
                >{{content}}</textarea>
              </code>
              <button type="submit" aria-label="Send prompt" class="self-end dark:disabled:bg-token-text-quaternary dark:disabled:text-token-main-surface-secondary flex items-center justify-center rounded-full transition-colors hover:opacity-70 disabled:text-[#f4f4f4] disabled:hover:opacity-100 dark:focus-visible:outline-white bg-black text-white disabled:bg-[#D7D7D7] dark:bg-white dark:text-black h-9 w-9">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="icon"><path d="M8.99992 16V6.41407L5.70696 9.70704C5.31643 10.0976 4.68342 10.0976 4.29289 9.70704C3.90237 9.31652 3.90237 8.6835 4.29289 8.29298L9.29289 3.29298L9.36907 3.22462C9.76184 2.90427 10.3408 2.92686 10.707 3.29298L15.707 8.29298L15.7753 8.36915C16.0957 8.76192 16.0731 9.34092 15.707 9.70704C15.3408 10.0732 14.7618 10.0958 14.3691 9.7754L14.2929 9.70704L10.9999 6.41407V16C10.9999 16.5523 10.5522 17 9.99992 17C9.44764 17 8.99992 16.5523 8.99992 16Z"></path></svg>
              </button>
            </div>
          </div>
        </form>
      </div>
    {{/if}}
  {{/each}}
</div>
